header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;

}

a {
    color: black
}

main {
    margin: 20px;
}